<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="NuGet.org" value="https://api.nuget.org/v3/index.json" />
    <add key="Touchtech" value="https://www.myget.org/F/touchtechab/auth/3b328911-8c50-4b41-a6d9-7fa11e9586d2/api/v3/index.json" />
  </packageSources>
</configuration>